version: '3.7'
services:
  inv-observer:
    image: inv-observer
    working_dir: /inv-obs
    volumes:
      - ./:/inv-obs
    environment:
      - NODE_TLS_REJECT_UNAUTHORIZED=0
      - SCHEDULE=*/30 * * * *
      - INV_DB_QUERY_SQL=select __INV_DB_QUERY_FIELDS__ from __INV_DB_NAME__ where rownum < 5000
      - INV_DB_QUERY_FIELDS=IP,NAME,PROVISION_STATUS,NODE_TYPE,NODE_DEF,NETWORKFUNCTION,TREE,STABLENET_SAAGENT,STABLENET_PMAGENT,SERVICES_LIST,SMON_TAG,NODEID,LOCATION_NAME,SNMPLOCATION
      - INV_DB_NAME=INVENTORY
      - INV_DB_USER=sunrise
      - INV_DB_PW=oadvice
      - INV_DB_CON=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.12.189)(PORT = 1521))(CONNECT_DATA =(SID= ORCL)))
      - IFACE_DB_QUERY_SQL=select __IFACE_DB_QUERY_FIELDS__ from __IFACE_DB_NAME__ where rownum < 5000
      - IFACE_DB_QUERY_FIELDS=PHYSICALPORTID,IF2NODEID,IF2MODULECARDID,IF_NAME,PHYSICALPORT_PROV_STATUS,BANDWIDTH_CALC,FAR_END_LOOPBACK,FAR_END_DEVICE_NAME,FAR_END_NODEID,FAR_END_NETWORKFUNCTION,FAR_END_HIERARCHY_CALC,FAR_END_IF_NAME,FAR_END_PHYSICALPORTID,CRAMER_CIRCUIT_NAME,CRAMER_CIRCUIT_TYPE,TRANSPORT_MEDIA_CALC,IDN_SERVICE,FX_SUN_VLAN,CIRCUIT_BANDWIDTH_KBPS,SERVICES_LIST
      - IFACE_DB_NAME=V_STABLENET_PHYSICAL_INTERFACE
      - IFACE_DB_USER=sunrise
      - IFACE_DB_PW=oadvice
      - IFACE_DB_CON=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.12.189)(PORT = 1521))(CONNECT_DATA =(SID= ORCL)))
      - ASM_BASE_URL=https://192.168.12.226/1.0/rest-observer/rest/
      - ASM_TOPO_URL=https://192.168.12.226/1.0/topology/
      - ASM_USER=asm
      - ASM_PASS=asm
      - ASM_TENANT_ID=cfd95b7e-3bc7-4006-a4a8-a73a79c71255
      - ASM_EP_JOB_ID=snr_inventory
      - ASM_EP_RES=resources
      - ASM_EP_REF=references
      - ASM_EP_RES_FLT=?_filter=entityTypes%3DnetworkDevice&_limit=__LIMIT__&_offset=__OFFSET__&_sort=+uniqueId&_field=uniqueId&_field=nodeid&_include_global_resources=false&_include_count=false&_include_status=false&_include_status_severity=false&_include_metadata=false&_return_composites=true
      - ASM_EP_RES_CNT=?_filter=entityTypes%3D__ASM_ENTITY_TYPE__&_limit=1&_include_global_resources=false&_include_count=true&_include_status=false&_include_status_severity=false&_include_metadata=false&_return_composites=true
      - TZ=Europe/Berlin
      - DELETE_IF_NOT_PRESENT_IN_INV=true
      - ASM_EP_RES_DEL_IMMEDIATE=true
      - ASM_EP_REF_DEL=/references/out/contains?_delete=nodes&_delete_self=false
      - ASM_EP_DEL_WAIT_TIME_MS=6000
      - ASM_EP_RES_DEL_IMMEDIATE_PARAM=?_immediate=true
      - ASM_ENTITY_TYPE=networkDevice
      - ASM_ENTITY_TYPE_INTERFACE=networkInterface
      - ASM_RESPONSE_TIMEOUT=10000
      - ASM_BATCH_SIZE=5000
    command: 'npm run dev'
